* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: papayawhip;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.meme-generator {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.generate-meme-btn {
    padding: 8px 20px;
    border: none;
    border-left: 4px solid #222;
    border-right: 4px solid #222;
    background: #fff;
    color: #f64d4d;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 24px 0;
    text-transform: capitalize;
    transition: all 400ms ease;
}

.generate-meme-btn:hover {
    padding: 8px 30px;
    border-left: 8px solid #222;
    border-right: 8px solid #222;
    letter-spacing: 3px;
}

.meme-generator img {
    height: 430px;
    object-fit: cover;
}

.meme-author {
    margin: 8px;
}